*.swp
package-lock.json
webui/package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

.DS_STORE
deployment-output.json
.DEFAULT_REGION
team-provider-info.json
venv/

# Amplify
build/
webui/build/
dist/
webui/dist/
node_modules/
webui/node_modules/
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

ui_repo*.zip
banditreport.txt
semgrepreport.txt
semgreplog.txt
npmauditreport.json
